.faq-content{
    max-width: 900px;
    padding: 20px;
    margin: auto;
    margin-bottom: 120px;
}
.faq-content-wrap{
    width: 100%;
    text-align: center;
}
.faq-content-img{
    width: 100%;
    margin-bottom: 50px;
}
.faq-content-img img{
    width: 100%;
    height: auto;
}
.faq-content-text{
   text-align: left;
}
.faq-content-text h2{
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
}
.faq-content-text p{
    color: gray;
    line-height: 30px;
}
.faq-content-foot-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
}
.faq-content-foot-item h3{
    font-weight: 500;
}
.faq-content-foot-item a:last-of-type{
    display: none;
}
.faq-content-foot-item a:hover{
    color: gray;
}
.faq-content-foot-item-dropdown{
    width: 100%;
    display: none;
}
.faq-content-foot-item-dropdown p{
    color: gray;
    line-height: 30px;
    margin-left: 0;
    text-align: left;
}
.faq-content-foot-item-dropdown ul{
    text-align: left;
    line-height: 30px;
    color: gray;
    list-style-type: circle;
    margin-left: 20px;
    padding: 0;
   
}
@media screen and (max-width:420px){
    .faq-content-text>h2{
        font-size: 18px;
    }
    .faq-content-foot-item h3{
        font-size: 18px;
    }
}