* {box-sizing: border-box;}
.product-detail-container{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    margin-top: 50px;
    height: 800px;
    position: relative;
}
.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    width: 150px;
    height: 150px;
}
.img-zoom-result {
    width: 40%;
    height: 55%;
    position: absolute;
    left: 48%;
}
.product-detail-item1{
    width: 50%;
    float: left;
    position: relative;
}
.product-detail-item1-container a{
    position: absolute;
    z-index: 1;
    left: 26px;
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    opacity: 0;
    transition: .6s;
    border: 1px solid lightgray;
}
.product-detail-item1:hover a{
   opacity: 1;
}
.product-detail-item1-container a:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.product-detail-item1-container a i{
    line-height: 30px;
}
.product-detail-item1-container a:first-of-type{
    display: inline-block;
    position: absolute;
    top: 0;
}
.product-detail-item1-container a:last-of-type{
    display: inline-block;
    position: absolute;
    bottom: 0;
}
.product-detail-item1-left{
    position: absolute;
    width: 80px;
    height: 100%;
    overflow-y: hidden;
    padding: 0 5px;
}
.product-detail-item1-left-item{
    transition: 0.3s;
    height: 90px;
    margin: 10px 0;
}
.product-detail-item1-left-item:hover{
    cursor: pointer;
    outline: 1px solid black;
    border: 5px solid white;
}
.product-detail-item1-right{
    margin-left: 80px;
    padding: 0 50px 0 20px;
    height: 100%;
    position: relative;
}
.product-detail-item1-right-arrow-left{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    opacity: 0;
    transition: .7s;
    z-index: 1;
    left: 30px;
}
.product-detail-item1-right-arrow-right{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    opacity: 0;
    transition: .7s;
    z-index: 1;
    right: 60px;
    
}
.product-detail-item1-right:hover .product-detail-item1-right-arrow-left, .product-detail-item1-right:hover .product-detail-item1-right-arrow-right{
    opacity: 1;
}
.product-detail-item1-right-arrow-left a, .product-detail-item1-right-arrow-right a{
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    transition: .9s;
    border: 1px solid lightgray;
}
.product-detail-item1-right-arrow-left a:hover,.product-detail-item1-right-arrow-right a:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.product-detail-item1-right-arrow-left i,.product-detail-item1-right-arrow-right i{
    line-height: 50px;
    font-size: 20px;
}
.product-detail-item2{
    width: 50%;
    float: left;
}
.product-detail-item2-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-detail-item2-head h2{
    font-weight: 400;
    font-size: 35px;
    margin: 0;
}
.product-detail-item2-head a{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid rgb(240, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: white;
}
.product-detail-item2-head a:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.product-detail-item2-price{
    width: 100%;
    margin-top: 15px;
}
.product-detail-item2-price-left{
    float: left;
    width: 50%;
}
.product-detail-item2-price-left p{
    display: inline;
    font-size: 25px;
    font-weight: 500;
}
.product-detail-item2-price-left span{
    font-size: 18px;
    color: gray;
    text-decoration: line-through;
    margin-left: 10px;
    font-weight: 400;
    font-size: 16px;
}
.product-detail-item2-price-right{
    float: right;
    width: 50%;
    text-align: right;
    margin-top: 5px;
}
.product-detail-item2-price-right i{
    font-size: 12px;
}
.product-detail-item2-price::after{
    display: table;
    content: "";
    clear: both;
}
.product-detail-item2-text p{
    color: rgb(104, 102, 102);
    line-height: 30px;
}
.product-detail-item2-color{
    margin-top: 30px;
}
.product-detail-item2-color span:first-of-type{
    font-weight: 500;
}
#color{
    margin-left: 10px;
}
.product-detail-item2-color div{
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
    margin-right: 5px;
    transition: .1s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.product-detail-item2-color div:hover{
    cursor: pointer;
    border: 3px solid white;
    outline: 1px solid black;
}

.product-detail-item2-size{
    margin-top: 25px;
}
.product-detail-item2-size span:first-of-type{
    font-weight: 500;
}
#size{
    margin-left: 10px;
}
.product-detail-item2-size a{
    display: inline-block;
    width: 42px;
    height: 42px;
    border: 1px solid lightgray;
    line-height: 42px;
    text-align: center;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 15px;
    cursor: pointer;
    transition: .5s;
}
.product-detail-item2-size a:hover{
    background-color: black;
    color: white;
}

.product-detail-item2-addtocard{
    margin-top: 30px;
    position: relative;
}
.product-detail-item2-addtocard-left{
    position: absolute;
    width: 150px;
    height: 50px;
}
.product-detail-item2-addtocard a{
    background-color: rgb(231, 230, 230);
    width: 48px;
    height: 48px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    margin-left: -5px;
    user-select: none;
}
.product-detail-item2-addtocard a:hover{
    cursor: pointer;
}
.product-detail-item2-addtocard a:first-of-type{
    border-radius: 5px 0 0 5px;
}
.product-detail-item2-addtocard a:last-of-type{
    border-radius: 0 5px 5px 0;
    margin-left: 43px;
}
.product-detail-item2-addtocard input{
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: rgb(231, 230, 230);
    border: none;
    text-align: center; 
    margin-left: -5px;
    position: absolute;
}
#showaddtocard:focus{
    outline: none;
}
.product-detail-item2-addtocard-right{
    margin-left: 150px;
    max-width: 800px;
}
.product-detail-item2-addtocard button{
    background-color: white;
    color: black;
    height: 48px;
    border-radius: 5px;
    border: 1px solid black;
    transition: .3s;
    font-weight: 500;
    width: 100%;
}
.product-detail-item2-addtocard button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
.product-detail-item2-buyitnow{
    margin-top: 40px;
}
.product-detail-item2-buyitnow button{
    width: 99.9%;
    background-color: rgb(32, 32, 32);
    color: white;
    height: 48px;
    border-radius: 5px;
    transition: .3s;
    margin: auto;
}
.product-detail-item2-buyitnow button:hover{
    cursor: pointer;
    transform: scale(1.01,1.04);
}
.product-detail-item2-buyitnow div{
    margin-top: 25px;
}
.product-detail-item2-buyitnow div a{
    margin-right: 20px;
    margin-left: 5px;
    transition: .3s;
}
.product-detail-item2-buyitnow div a:hover{
    color: gray;
}
.product-detail-item2-buyitnow>div div{
    display: inline-block;
}
.product-detail-item2 hr{
    width: 100%;
    margin-top: 30px;
    padding: 0;
    height: .5px;
    background-color: rgb(233, 231, 231);
    border: none;
}
.product-detail-item2-img{
    text-align: center;
    margin-top: 40px;
}
.product-detail-item2-img div{
    width: 55%;
    height: 50px;
    margin: auto;
}
.product-detail-item2-img p{
    margin: 0;
    margin-top: -15px;
}
.product-detail-tab{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    margin-top: 60px;     
}
.product-detail-tab-head{
    border-bottom: 1px solid rgb(238, 236, 236);
}
.product-detail-tab-head a{
    font-size: 18px;
    margin-right: 60px;
    color: rgb(167, 165, 165);
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    padding: 0 0 15px 0;
}

.product-detail-tab-content-details h3{
    font-size: 25px;
    margin-top: 50px;
    font-weight: 400;
}   
.product-detail-tab-content-details p{
    color: gray;
    line-height: 30px;
}
.product-detail-tab-content-details-grid{
    display: flex;
    width: 100%;
    column-gap: 30px;
}
.product-detail-tab-content-details-grid-item{
   flex: 1;
}
.product-detail-tab-content-details-grid-item p{
    font-size: 19px;
    color: black;
}
.product-detail-tab-content-details-grid-item ul{
   padding: 0 15px;
   margin: 0;
   color: gray;
   font-size: 16px;
}
.product-detail-tab-content-details-grid-item li{
    margin-top: 20px;
}
.product-detail-tab-content-details-grid-item div{
    color: gray;
}

.product-detail-tab-content-details-grid-item .img img{
    width: 180px;
}
#machinewash{
    font-size: 16px;
    color: gray;
}
.product-detail-tab-content-details-foot{
    display: flex;
    margin-top: 60px;
}
.product-detail-tab-content-details-foot-item{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
.product-detail-tab-content-details-foot-item h2{
    font-size: 45px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
    margin-left: 50px;
}
.product-detail-tab-content-details-foot-item p{
    margin: 0;
    margin-left: 50px;
}
.product-detail-tab-content-aboutbrand{
   height: 250px;
}

.product-detail-tab-content-aboutbrand-left{
    float: left;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.product-detail-tab-content-aboutbrand-left .img{
    width: 160px;
    height: 40px;

}
.product-detail-tab-content-aboutbrand-left a{
    text-decoration: underline;
    transition: .5s;
    display: block;
    margin-top: 20px;
}
.product-detail-tab-content-aboutbrand-right{
    float: left;
    width: 70%;
    height: 100%;
    padding-left: 30px;
}
.product-detail-tab-content-aboutbrand-left  a:hover{
    color: gray;
}
.product-detail-tab-content-aboutbrand-right h4{
    font-size: 20px;
    font-weight: 500;
    margin-top: 50px;
}
.product-detail-tab-content-aboutbrand-right p{
    color: gray;
    line-height: 30px;
}
.product-detail-tab-content-moreinfo{
    padding: 20px 0;
}
.product-detail-tab-content-moreinfo h4{
    font-weight: 400;
    display: inline-block;
    margin-right: 20px;
}
.product-detail-tab-content-moreinfo p, .product-detail-tab-content-shipping{
    display: inline-block;
    color: gray;
    line-height: 30px;
    margin-top: 30px;
}
.product-detail-tab-content-review-customer{
    margin-top: 50px;
}
.product-detail-tab-content-review-customer h3{
    font-weight: 500;
    font-size: 18px;
}
.product-detail-tab-content-review-customer>p{
    font-weight: 500;
    font-size: 14px; 
    margin-top: 40px;   
}
.product-detail-tab-content-review-customer-container{
    width: 100%;
    height: 130px;
    position: relative;
}
.product-detail-tab-content-review-customer-item1{
    position: absolute;
    height: 100px;
    width: 155px;
    top: 0;
}
.product-detail-tab-content-review-customer-item1-item{
    margin-top: 20px;
}
.product-detail-tab-content-review-customer-item1-item p{
    color: gray;
    display:  inline-block;
    margin: 0;
}
.product-detail-tab-content-review-customer-item1-item div{
    float: right;
    text-align: center;
}
.product-detail-tab-content-review-customer-item1 i{
    font-size: 12px;
}
.product-detail-tab-content-review-customer-item2{
    float: left;
    margin-left: 200px;
    padding-top: 5px;
}
.product-detail-tab-content-review-customer-item2 p{
    color: gray;
    line-height: 25px;
}
.review{
    float: left;
}
.post{
    float: right;
}
.review p, .post p{
    display:  inline-block;
    margin-top: 10px;
}
.product-detail-tab-content-review-customer hr{
    margin-top: 30px;
    padding: 0;
    border: none;
    background-color: rgb(233, 231, 231);
    height: .5px;
}
.product-detail-tab-content-review-user{
    margin-top: 20px;
}
.product-detail-tab-content-review-user>p{
    display: inline-block;
    font-size: 18px;
}
.product-detail-tab-content-review-user h3{
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
}
.product-detail-tab-content-review-user-rating div{
    padding: 10px 0;
}
.product-detail-tab-content-review-user-rating div p{
    display: inline-block;
    font-size: 16px;
    color: gray;
    margin: 0;
}
#rating{
    color: black;
}
.product-detail-tab-content-review-user-rating div span{
    color: red;
    margin-left: 5px;
    margin-right: 20px;
}
.product-detail-tab-content-review-user-rating div i{
    font-size: 12px;
    color: gray;
}
.product-detail-tab-content-review-user-filling{
    margin-top: 20px;
}
.product-detail-tab-content-review-user-filling-nicknamesummary{
    display: flex;
    column-gap: 40px;
}
.product-detail-tab-content-review-user-filling-nicknamesummary-item{
    flex: 1;
}
.product-detail-tab-content-review-user-filling-nicknamesummary-item p,.product-detail-tab-content-review-user-filling-review p{
    display: inline-block;
    font-size: 16px;
    color: gray;
}
.product-detail-tab-content-review-user-filling-nicknamesummary-item span,.product-detail-tab-content-review-user-filling-review span{
    color: red;
    margin-left: 5px;
    margin-right: 20px;
}
.product-detail-tab-content-review-user-filling-nicknamesummary-item input[type="text"]{
    display: block;
    height: 50px;
    border: 1px solid lightgray;
    width: 100%;
    border-radius: 5px;
    padding-left: 20px;
}
.product-detail-tab-content-review-user-filling-review{
    margin-top: 10px;
}
.product-detail-tab-content-review-user-filling-review textarea{
    resize: none;
    display: block;
    border: 1px solid lightgray;
    width: 100%;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 20px;
}
.product-detail-tab-content-review-user-filling button{
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    font-weight: 500;
    border: 1px solid black;
    transition: .3s;
}
.product-detail-tab-content-review-user-filling button:hover{
    background-color: black;
    color: white;
}
.product-detail-responsive{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    margin-top: 20px; 
    display: none;
}
.product-detail-responsive .faq-content-foot-item h3{
    font-size: 18px;
}
.faq-content-foot-item-dropdown .product-detail-tab-content-details{
    margin-top: -20px;
    margin-bottom: 20px;
}
.faq-content-foot-item-dropdown .product-detail-tab-content-details-grid-item ul{
    list-style-type: disc;
}
.faq-content-foot-item-dropdown .product-detail-tab-content-details-grid-item p{
    color: black;
}
.faq-content-foot-item-dropdown .product-detail-tab-content-details-foot-item p{
    margin-left: 50px;
}
.faq-content-foot-item-dropdown .product-detail-tab-content-moreinfo{
    margin-bottom: -20px;
    margin-top: -30px;
}
.faq-content-foot-item-dropdown .product-detail-tab-content-review{
    margin-top: -20px;
    margin-bottom: 30px;
}
.faq-content-foot-item-dropdown .product-detail-tab-content-review-customer>p{
    color: black;
    margin-top: 25px;
}
.faq-content-foot-item-dropdown .product-detail-tab-content-review-customer-container{
    margin-top: -10px;
}
.faq-content-foot-item-dropdown .product-detail-tab-content-review hr{
    margin-top: 40px;
}
.faq-content-foot-item-dropdown .product-detail-tab-content-review-customer-item1-item p{
    margin-top: -50px;
}
.faq-content-foot-item-dropdown .product-detail-tab-content-review-customer-item2 p{
    margin-top: 10px;
}
.faq-content-foot-item-dropdown .product-detail-tab-content-review-user-rating>div{
    margin-top: -5px;
}
.faq-content-foot-item-dropdown .product-detail-tab-content-review-user{
    margin-top: 20px;
}
.faq-content-foot-item-dropdown .product-detail-tab-content-review-user-filling{
    margin-top: 0;
}
.eq4-dropdown{
    height: 250px;
    margin-top: -15px;
}
.faq-content-foot-item-dropdown .product-detail-tab-content-shipping{
    margin-top: 5px;
}
.product-detail-related-container{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    margin-top: 80px;   
}
.product-detail-related-container>h2{
    text-align: center;
    font-weight: 400;
    font-size: 35px;
}
.product-detail-related{
   margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 30px;
}
.product-detail-related .item .item-container{
    position: relative;
}
.product-detail-related .item .item-container:hover img{
    cursor: pointer;
}
.product-detail-related .item .item-container .overlay-item1{
    position: absolute;
    bottom: 1%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .4s ease;
    z-index: 2;
    user-select: none;
}
.product-detail-related .item .item-container .overlay-item2{
    position: absolute;
    right: 1%;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: 0;
    margin: 5px 10px;
    transition: .4s ease;
    user-select: none;
    z-index: 1;
}
.product-detail-related .item .item-container .overlay-item3{
    position: absolute;
    bottom: 1%;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
    user-select: none;
}
.product-detail-related .item .item-container .overlay-item2 div{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}
.product-detail-related .item .item-container .overlay-item2 div span{
    display: none;
    margin-top: 20px;
    background-color: black;
    color: #fff;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 5px;
    box-shadow:  2px 4px 5px grey;
}
.product-detail-related .item .item-container .overlay-item2 div span+i{
    display: none;
    font-size: 28px;
    margin-top: 20px;
    margin-left: -10px;
    margin-right: 5px;
}
.product-detail-related .item .item-container .overlay-item2 a{
    display: inline-block;
    color: black;
    text-align: center;
    background-color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.product-detail-related .item .item-container .overlay-item2 div:hover span{
    display: inline-block;
}
.product-detail-related .item .item-container .overlay-item2 div:hover span+i{
    display: inline-block;
}

.product-detail-related .item .item-container .overlay-item2 i{
    font-size: 16px;
    text-align: center;
    display: inline-block;
}
.product-detail-related .item .item-container .overlay-item1 .addtocard{
    color: black;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 5px;
    width: 90%;
    padding: 10px;
    background-color: white;
    border: none;
}

.product-detail-related .item .item-container .overlay-item2 a:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}

.product-detail-related .item .item-container:hover .overlay-item1{
    bottom: 0;
    height: 30%;
}
.product-detail-related .item .item-container:hover .overlay-item2{
    right: 0;
    top:0;
    width: 200px;
}
.product-detail-related .item .item-container:hover .overlay-item3{
    bottom: 0;
    height: 100%;
}
.product-detail-related .item a{
    font-weight: 450;
    display: inline-block;
    margin-top: 20px;
}
.product-detail-related .item a:hover{
    color: rgb(150, 147, 147);
}
.product-detail-related .item p{
    display: inline-block;
}
.product-detail-related .item p:first-of-type{
    font-weight: 450;
}
#line-through{
    text-decoration: line-through;
    color: gray;
    margin-left: 10px;
}
.color{
    display: inline-block;
    background-color: black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
@media screen and (max-width:1010px){
    .product-detail-tab{
        display: none;
    }
    .product-detail-responsive{
        display: block;
    }
    .faq-content-foot-item-dropdown .product-detail-tab-content-details-foot{
        flex-direction: column;
    }
    .product-detail-tab-content-details-foot-item h2{
        margin-top: 30px;
        margin-left: 0;
    }
    .faq-content-foot-item-dropdown .product-detail-tab-content-details-foot-item p{
        margin-left: 0;
        margin-top: 0;
    }
    .product-detail-tab-content-aboutbrand{
        height: 250px;
        margin-bottom: 30px;
    }
    .product-detail-related{
        grid-template-columns: auto auto auto;
    }
   
}
@media screen and (max-width:907px){
    .product-detail-tab-content-aboutbrand{
        height: 290px;
        margin-bottom: 50px;
    }
    .eq5{
        clear: both;
    }
}
@media screen and (max-width:850px){
    .faq-content-foot-item-dropdown .product-detail-tab-content-details-grid{
        display: block;
    }
    .faq-content-foot-item-dropdown .product-detail-tab-content-details-grid-item{
        margin-top: 30px;
    }
    .product-detail-container{
        height: 1850px;
    }
    .product-detail-item1{
        width: 100%;
    }
    .product-detail-item1-left{
        display: none;
    }
    .product-detail-item1-container{
        display: none;
    }
    .product-detail-item2{
        width: 100%;
        margin-top: 30px;
    }
    .product-detail-item1-right{
        margin: 0;
        width:100%;
        padding: 0;
    }
    .product-detail-item2-img p{
        margin-top: 20px;
    }
    .product-detail-item1-right-arrow-right{
        right: 30px;
    }
    .img-zoom-result{
        visibility: hidden;
    }
    .img-zoom-lens{
        display: none;
    }
}
@media screen and (max-width:800px){
    .product-detail-tab-content-aboutbrand-left{
        width: 100%;
        height: 150px;
    }
    .product-detail-tab-content-aboutbrand-right{
        width: 100%;
        padding: 0;
    }
    .product-detail-tab-content-aboutbrand-right h4{
        margin-top: 0;
    }
    .faq-content-foot-item{
        clear: both;
    }
    .product-detail-tab-content-aboutbrand{
        height: 190px;
        padding-top: 10px;
    }
    .product-detail-container{
        height: 1800px;
    }
}
@media screen and (max-width:768px){
    .product-detail-tab-content-aboutbrand{
        height: 220px;
    }
    .product-detail-related{
        grid-template-columns: auto auto;
    }
    .product-detail-container{
        height: 1750px;
    }
}
@media screen and (max-width:740px){
    .product-detail-tab-content-review-customer-container{
        height: 250px;
    }
    .product-detail-tab-content-review-customer-item1{
       position: relative;
       display: block;
    }
    .product-detail-tab-content-review-customer-item2{
        margin-left: 0;
     }
    .faq-content-foot-item-dropdown .product-detail-tab-content-review-customer hr{
        margin-top:20px;
     }
     .product-detail-container{
        height: 1700px;
    }
}
@media screen and (max-width:700px){
    .faq-content-foot-item-dropdown .product-detail-tab-content-review-user-filling-nicknamesummary{
        flex-direction: column;
    }
    .product-detail-container{
        height: 1650px;
    }

}
@media screen and (max-width:622px){
    .product-detail-tab-content-aboutbrand{
        height: 250px;
    }
    .product-detail-container{
        height: 1550px;
    }
}
@media screen and (max-width:570px){
    .product-detail-container{
        height: 1500px;
    }
}
@media screen and (max-width:534px){
    .product-detail-tab-content-aboutbrand{
        height: 280px;
    }
    .product-detail-container{
        height: 1450px;
    }
}
@media screen and (max-width:450px){
    .product-detail-item2-buyitnow>div div{
        display: block;
    }
    .product-detail-tab-content-aboutbrand{
        height: 320px;
    }
}
@media screen and (max-width:400px){
    .product-detail-tab-content-aboutbrand{
        height: 350px;
    }
    .product-detail-related{
        grid-template-columns: auto;
    }
}
@media screen and (max-width:390px){
    .product-detail-tab-content-aboutbrand{
        height: 380px;
    } 
}
@media screen and (max-width:350px){
    .product-detail-tab-content-aboutbrand{
        height: 420px;
    } 
}
