*{
  box-sizing: border-box;
}
.opacity{
  opacity: 0.5;
}
a{
  text-decoration: none;
  color: black;
}
.font1{
  font-family: "Jost";
}
.font2{
  font-family: "Roboto";
}
img{
  width: 100%;
  height: auto;
}
.top{
  padding: 10px 20px;
  border-bottom: 1px solid lightgray;
}
.top-wrap{
  max-width: 1600px;
  margin: auto;
  display: flex;
  align-items: center;
 
}
.top-left{
  float: left;
  width: 33.33%;
}
.top-left span{
  font-size: 15px;
  margin-right: 20px;
}
.top-left a{
  margin-right: 5px;
}
.top-left a:hover{
  color: gray;
}
.top-center span:last-of-type{
  color: gray;
}
.top-center{
  font-size: 15px;
  float: left;
  width: 33.33%;
  text-align: center;
}
.top-center a{
  text-decoration: underline;
}
.top-center a:hover{
  color: gray;
}
.top-right{
  float: left;
  width: 33.33%;
  text-align: right;
}
.nav-sticky{
  animation: navsticky 0.5s;
  transition: transform 0.4s;
}
@keyframes navsticky {
  0%{opacity: 0;transform: translate3d(0,-20px,0);}
  100%{opacity: 1;transform: none;}
}
nav{
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  padding: 0 20px;
}
.nav-wrap{
  max-width: 1600px;
  height: 70px;
  margin: auto;
}
.nav-wrap ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}
.nav-wrap li{
  float: left;
}
.nav-wrap .left{
  float: left;
  width: 33.33%;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-wrap .menu{
  display: none;
  float: left;
  width: 33.33%;
  height: 60px;
  line-height: 60px;
}
.nav-wrap .menu a{
  width: 30px;
  height: 60px;
}
.nav-wrap .menu i{
  font-size: 25px;
}
@keyframes menushow{
  0%{width: 200px;}
  100%{width: 400px;}
}
.menu-show{
  position: fixed;
  top:0;
  left: 0;
  width: 400px;
  height: 100%;
  background-color: white;
  overflow-y: auto;
  z-index: 3;
  animation: menushow .7s;
}
.menu-show-wrap{
  padding: 20px;
}
.menu-show-item{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 15px 10px;
}
.menu-show-item:hover{
  background-color: lightgray;
  cursor: pointer;
}
.menu-show-item a{
  display: inline;
  margin: 0;
  font-weight: 500;
}

.menu-show-item a:last-of-type{
  display: none;
}
.menu-show-item-myaccount{
  margin-top: 60px;
  font-size: 20px;
  font-weight: 500;
  padding-left: 10px;
}
.menu-show-item-myaccount span{
  margin-left: 10px;
}
.menu-show-wrap button{
  display: block;
  width: 95%;
  margin: auto;
  margin-top: 20px;
  height: 45px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 500;
  background-color: white;
}
.menu-show-wrap button:hover{
  cursor: pointer;
}
.menu-show-wrap button:first-of-type{
  color: white;
  background-color: black;
}
.menu-show-wrap button:last-of-type:hover{
  color: white;
  background-color: black;
}
.menu-show-close{
  position: fixed;
  width: 40px;
  height: 40px;
  top: 0;
  left: 400px;
  font-size: 30px;
  color: white;
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.menu-show-close:hover{
  cursor: pointer;
  background-color: rgb(197, 196, 196);
  color: black;
  font-weight: 500;
}
.menu-show-item-show, .menu-show-item-show a{
  color: gray;
}

.demo-dropdown-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  padding-left: 20px;
  height: 40px;
}
.nav-wrap .left a{
  position: relative;
}
.nav-wrap .left i{
  margin-left: 5px;
  font-size: 9px;
  top: 30%;
  position: absolute;
}
.nav-wrap .left li {
  margin-left: 60px;
}
.nav-wrap .left li:first-child{
  margin-left: 0;
}
.nav-wrap .left li>a{
  font-weight: 500;
}

.nav-wrap .left li>a:hover::after{
  content: "";
  height: 2px;
  animation: navleft 0.3s ;
  background-color: black;
  display: block;
  width: 130%;
}
.nav-wrap .center{
  float: left;
  width: 33.33%;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.nav-wrap .center img{
  width: 150px;
  height: 40px;
}
.nav-wrap .center img:hover{
  cursor: pointer;
}
.nav-wrap .right{
  width: 33.33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
}
.nav-wrap .right i{
  font-size: 20px;
}
.nav-wrap .right li{
  margin-left: 30px;
}
@keyframes navleft {
  0%{width: 0;}
  100%{width: 130%;}
}
.nav-dropdown-page{
  position: absolute;
  background-color: white;
  width: 200px;
  display: none;
  animation: nav-dropdown-in 0.6s;
  top: 70px;
}
.nav-dropdown-page a{
  display: block;
  color: gray;
  padding: 15px 20px;
}
.nav-dropdown-page a:hover{
  background-color: lightgray;
  color: black;
}
.nav-dropdown-blog{
  position: absolute;
  background-color: white;
  width: 200px;
  display: none;
  animation: nav-dropdown-in 0.6s;
  top: 70px;
}
.nav-dropdown-blog a{
  display: block;
  color: gray;
  padding: 15px 20px;
}
.nav-dropdown-blog a:hover{
  background-color: lightgray;
  color: black;
}
.nav-dropdown-demo{
  position: absolute;
  background-color: white;
  width: 85%;
  display: none;
  animation: nav-dropdown-in 0.6s;
  top: 70px;
}
.nav-dropdown-demo-item{
  display: inline-block;
  width: 16%;
  float: left;
}
.nav-dropdown-demo-item a{
  display: block;
  color: gray;
  padding: 15px 20px;
}
.nav-dropdown-demo-item div a{
  display: block;
}
.nav-dropdown-demo-item div{
  position: relative;
}
.nav-dropdown-demo-item div a:last-of-type{
  display: inline;
  background-color: rgb(236, 111, 111);
  position: absolute;
  border-radius: 10px;
  color: white;
  padding: 3px 8px;
  top:30%;
  left: 70%;
  font-size: 12px;
  font-weight: 500;
  user-select: none;
}
#new{
  background-color: rgb(15, 192, 133);
}
.nav-dropdown-demo a:hover{
  background-color: lightgray;
  color: black;
}
.nav-dropdown-product{
  position: absolute;
  background-color: white;
  width: 85%;
  display: none;
  animation: nav-dropdown-in 0.6s;
  top: 70px;
}
.nav-dropdown-product-item{
  display: inline-block;
  width: 15%;
  float: left;
  position: relative;
  padding: 0 10px 20px 0;
}
.nav-dropdown-product-item:last-of-type{
  width: 35%;
}
.nav-dropdown-product-item a{
  display: block;
  color: gray;
  padding: 15px 10px;
  font-size: 15px;
}
.nav-dropdown-product-item a:hover{
  background-color: lightgray;
  color: black;
}
.nav-dropdown-product-item>p{
  font-size: 20px;
  font-weight: 500;
}
.nav-dropdown-product-item-wrap{
  display: flex;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-align: start;
}
.nav-dropdown-product-item-item{
  min-width: 50%;
  margin-right: 5px;
}
.nav-dropdown-product-item-item-container{
  position: relative;
}
.nav-dropdown-product-item-item-container:hover{
  cursor: pointer;
}
.nav-dropdown-product-item-item .overlay-item1{
  position: absolute;
  bottom: 1%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .4s ease;
  z-index: 2;
  user-select: none;
}
.nav-dropdown-product-item-item .overlay-item2{
  position: absolute;
  right: 1%;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width: 0;
  margin: 20px 10px;
  transition: .4s ease;
  user-select: none;
  z-index: 1;
}
.nav-dropdown-product-item-item .overlay-item3{
  position: absolute;
  bottom: 1%;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  user-select: none;
}
.nav-dropdown-product-item-item .overlay-item2 div{
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}
.nav-dropdown-product-item-item .overlay-item2 div span{
  display: none;
  background-color: black;
  color: #fff;
  padding: 8px 5px;
  font-size: 13px;
  border-radius: 5px;
  box-shadow:  2px 4px 5px grey;
  margin-right: 4px;
}
.nav-dropdown-product-item-item .overlay-item2 div span+i{
  display: none;
  font-size: 20px;
  margin-top: 5px;
  margin-left: -10px;
  margin-right: 3px;
}
.nav-dropdown-product-item-item .overlay-item2 a{
  display: inline-block;
  color: black;
  text-align: center;
  background-color: white;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.nav-dropdown-product-item-item .overlay-item2 div:hover span{
  display: inline-block;
}
.nav-dropdown-product-item-item .overlay-item2 div:hover span+i{
  display: none;
}

.nav-dropdown-product-item-item .overlay-item2 i{
  font-size: 14px;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
}
.nav-dropdown-product-item-item .overlay-item1 .addtocard{
  color: black;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 5px;
  width: 80%;
  padding: 8px;
  background-color: white;
  border: none;
}
.nav-dropdown-product-item-item .overlay-item1 .addtocard:hover{
  color: white;
  background-color: black;
  cursor: pointer;
}
.nav-dropdown-product-item-item .overlay-item2 a:hover{
  color: white;
  background-color: black;
  cursor: pointer;
}

.nav-dropdown-product-item-item:hover .overlay-item1{
  bottom: 0;
  height: 30%;
}
.nav-dropdown-product-item-item:hover .overlay-item2{
  right: 0;
  top:0;
  width: 200px;
}
.nav-dropdown-product-item-item:hover .overlay-item3{
  bottom: 0;
  height: 100%;
}
.nav-dropdown-product-item-item p{
  margin-left: 10px;
}
#arrow-left,#arrow-right{
  color: black;
  background-color: white;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  border-radius: 50%;
  z-index: 1;
}
#arrow-left:hover,#arrow-right:hover{
  cursor: pointer;
  background-color: black;
}
#arrow-left:hover i,#arrow-right:hover i{
  color: white;
}
#arrow-left{
  left: 0;
}
#arrow-right{
  right: 0;
}
#arrow-left i,#arrow-right i{
  color: black;
  font-size: 20px;
}
.nav-dropdown-shop{
  position: absolute;
  background-color: white;
  width: 82%;
  display: none;
  animation: nav-dropdown-in 0.6s;
  top: 70px;
}
.nav-dropdown-shop-item{
  display: inline-block;
  width: 16%;
  float: left;
}
.nav-dropdown-shop-item:last-of-type{
  width: 35%;
  padding-bottom: 20px;
}
.nav-dropdown-shop-item-container{
  width: 100%;
  padding: 10px;
}
.nav-dropdown-shop-item a{
  display: block;
  color: gray;
  padding: 15px 20px;
}
.nav-dropdown-shop-item a:hover{
  background-color: lightgray;
  color: black;
}

.nav-dropdown-shop-item:last-child a{
  display: inline;
  text-decoration: underline;
  font-size: 18px;
  color: black;
  padding: 0;
  font-weight: 600;
}
.nav-dropdown-shop-item:last-child a:hover{
  background-color: transparent;
}
.nav-dropdown-shop-item:last-child p{
  font-size: 25px;
  font-weight: 500;
}

@keyframes nav-dropdown-in{
  0%{top:120px;opacity: 0.2;}
  100%{top: 68px;opacity: 1;}
}
/* @keyframes nav-dropdown-out{
  0%{top:0;opacity: 1;}
  100%{top: 10px;opacity: 0;}
} */
.search-show{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}

.search-show img{
  width: 100px;
  height: 30px;
}
.search-show-item input[type="text"]{
  display: inline-block;

}
.search-show-item p{
  display: inline-block;
}
.tooltiptext {
  visibility: hidden;
  width: 60px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 2;
  top: 80%;
  margin-left: -40px;
  font-family: "Jost";
  font-size: 13px;
}
@keyframes tooltiptext{
  0%{top:70%}
  100%{top:80%}
}
.tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
nav .right li:hover .tooltiptext{
  visibility: visible;
  animation: tooltiptext 0.5s;
}
nav .right li{


}
nav .right li a:last-child{
  display: inline-block;
  position: absolute;
  top: 20%;
  text-align: center;
  color: white;
  padding: 3px 0;
  background-color: rgb(214, 23, 23);
  border-radius: 50%;
  font-weight: 500;
  width: 20px;
  height: 20px;
  font-size: 13px;
}
.img{
  position: relative;
}
.img-wrap{
  position: relative;
  animation: imgwrap 2s;
}
.img-wrap img{
  width: 100%;
  height: auto;
}
.img-nav{
  position: absolute;
  right: 1%;
  height: 100px;
  width: 20px;
  z-index: 1;
  top: 50%;
  transform: translate(-50%,-50%);
}
.img-nav a{
  display: block;
  width: 10px;
  height: 10px; 
  border-radius: 50%;
  border: 1px solid black;
  margin-top: 15px;
  
}
.img-text{
  position: absolute;
  height: 40%;
  left: 10%;
  top: 50%;
  transform: translate(0,-70%);
}
@keyframes imgwrap{
  0%{opacity: 0.3;}
  100%{opacity: 1;}
}
@keyframes imgtextp{
  0%{top: 30%;}
  100%{top:0;}
}
@keyframes imgtexth1{
  0%{top:70%;}
  100%{top:10%;}
}
@keyframes imgtexta{
  0%{top:150%}
  100%{top:90%}
}
@keyframes imgtextrecotton{
  0%{left:70%}
  100%{left:80%}
}
.img-text p{
  position: absolute;
  top: 0;
  font-size: 20px;
  margin: 0;
  width: 130px;
  animation: imgtextp 1s;
}
.img-text h1{
  font-size:100px;
  margin: 0;
  font-weight: 400;
}
.img-text-h1{
  position: absolute;
  top: 10%;
  animation: imgtexth1 3s;
  width: 600px;
}
.img-text a{
  font-size: 15px;
  padding: 15px 30px;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  width: 130px;
  top: 90%;
  animation: imgtexta 3s;
}
.img-text a:hover{
  background-color: black;
  color: white;
}
.img-text-recotton{
  position: absolute;
  top: 90%;
  left: 80%;
  font-size: 18px;
  animation: imgtextrecotton 3s;
}
.img-text-recotton >p{
  display: inline-block;
  margin-right: 10px;
}
.img-text-recotton a{
  border-bottom: 2px solid black;
  font-weight: bolder;
  margin-left: 5px;
}
.section-collection-head{
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1640px;
  margin: auto;
  padding: 50px 20px;
} 
.section-collection-head span{
  float: left;
  font-size: 40px;
}
.arrow{
  position: absolute;
  right: 0;
}
.arrow a{
  margin-right: 20px;
}
.section-collection-content .zoom{
  transition: transform 0.3s ease-in-out;
}
/* .section-collection-content .zoom img{
  transition: transform 0.3s ease-in-out;
} */
.section-collection-content .zoom:hover {
  transform: scale(1.06);
  cursor: pointer;
}
/* .section-collection-content .zoom:hover img{
  transform: scale(1.1);
}  */

.section-collection-content{
  display: flex;
  grid-gap: 30px;
  max-width: 1780px;
  height: 650px;
  width: 100%;
  float: right;
  padding-left: 20px;
  overflow-x: auto;
  scroll-snap-type: x;
  scroll-behavior: smooth;
  scrollbar-width: none; /* for firefox */
}

.section-collection-content::-webkit-scrollbar{ /* for chrome */
  display: none;
}
.section-collection-content .item{
  background-image: url("cat_01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  min-width: calc(25% - 30px);
  display: flex;
  user-select: none;
}
.section-collection-content .item .content{
  margin-top: 450px;
  margin-left: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}
.section-collection-content  .item .content .text{
  width: 50%;
}
.content .text h2{
  font-weight: 400;
}
.content .text p{
  color: grey;
}
.section-collection-content .item .content a{
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  width: 60px;
  height: 50px;
  text-align: center;
  margin-right: 20px;
  margin-left: 150px;
}
.section-collection-content .item .content i{
  line-height: 50px;
  font-size: 18px;
}
.section-collection-content .item .content a:hover{
  background-color: black;
  color: white;
}
.youarein{
  font-size: 50px;
  text-align: center;
  padding: 50px;
  display: flex;
  clear: right;

}
.youarein-content{
  flex: 1;
  padding: 0 10px;
}

.youarein span{
  color: gray;
  float: right;

}
.youarein p{
  display: inline-block;
  float: left;
  margin: 0;
}
.youarein p::after{
  content: "";
  height: 2px;
  background-color: black;
  width: 100%;
  display: block;
}
.youarein p:hover{
  cursor: pointer;
  color: gray;
}
.youarein .dropdown{
  display: none;
  clear: both;
  background-color: white;
  margin-top: 50px;
  width:260px;
  height: 110px;
  z-index: 1;
  box-shadow: 0px 0px 5px 0px black;
}
.youarein .dropdown a{
  display: block;
  font-size: 18px;
  text-align: left;
  padding: 8px 8px;
  font-weight: 800px;
}
.youarein .dropdown a:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}
.product{
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1640px;
  padding: 20px;
  margin: auto;
}
.product-item{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto;
  padding: 10px 0;
  column-gap: 30px;
  row-gap: 30px;
}
.product-item .item .item-container{
  position: relative;
}
.product-item .item .item-container:hover img{
  cursor: pointer;

}
.product-item .item .item-container .overlay-item1{
  position: absolute;
  bottom: 1%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .4s ease;
  z-index: 2;
  user-select: none;
}
.product-item .item .item-container .overlay-item2{
  position: absolute;
  right: 1%;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width: 0;
  margin: 5px 10px;
  transition: .4s ease;
  user-select: none;
  z-index: 1;
}
.product-item .item .item-container .overlay-item3{
  position: absolute;
  bottom: 1%;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  user-select: none;
}
.product-item .item .item-container .overlay-item2 div{
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}
.product-item .item .item-container .overlay-item2 div span{
  display: none;
  margin-top: 20px;
  background-color: black;
  color: #fff;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 5px;
  box-shadow:  2px 4px 5px grey;
}
.product-item .item .item-container .overlay-item2 div span+i{
  display: none;
  font-size: 28px;
  margin-top: 20px;
  margin-left: -10px;
  margin-right: 5px;
}
.product-item .item .item-container .overlay-item2 a{
  display: inline-block;
  color: black;
  text-align: center;
  background-color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.product-item .item .item-container .overlay-item2 div:hover span{
  display: inline-block;
}
.product-item .item .item-container .overlay-item2 div:hover span+i{
  display: inline-block;
}

.product-item .item .item-container .overlay-item2 i{
  font-size: 16px;
  text-align: center;
  display: inline-block;
}
.product-item .item .item-container .overlay-item1 .addtocard{
  color: black;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 5px;
  width: 90%;
  padding: 10px;
  background-color: white;
  border: none;
}
.product-item .item .item-container .overlay-item1 .addtocard:hover{
  color: white;
  background-color: black;
  cursor: pointer;
}
.product-item .item .item-container .overlay-item2 a:hover{
  color: white;
  background-color: black;
  cursor: pointer;
}

.product-item .item .item-container:hover .overlay-item1{
  bottom: 0;
  height: 30%;
}
.product-item .item .item-container:hover .overlay-item2{
  right: 0;
  top:0;
  width: 200px;
}
.product-item .item .item-container:hover .overlay-item3{
  bottom: 0;
  height: 100%;
}

.product .product-item .item a{
  font-weight: 450;
  display: inline-block;
  margin-top: 20px;
}
.product .product-item .item a:hover{
  color: rgb(150, 147, 147);
}
.product .product-item .item p{
  display: inline-block;
  
}
.product .product-item .item p:first-of-type{
  font-weight: 450;
}
.color{
  display: inline-block;
  background-color: black;
  border-radius: 50%;
  width: 27px;
  height: 27px;
}
.color-product-item{
  display: inline-block;
  background-color: black;
  border-radius: 50%;
  width: 27px;
  height: 27px;
}
.product #seemore{
  padding: 12px 38px;
  border: 1px solid black;
  background-color: white;
  display: inline-block;
  border-radius: 5px;
  margin-top: 40px;
}
.product #seemore:hover{
  color: white;
  background-color: black;
}
.info{
  margin-top: 50px;
  border-top: 1px solid lightgray;
}
.info-wrap{
  padding: 40px 20px;
  max-width: 1500px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 8px;
}
.info-item img{
  width: 30px;
  height: 30px;
  float: left;
}
.info-item .text{
  margin-left: 20px;
  float: left;
  max-width: 70%;
}
.info-item .text h2{
  margin: 0;
  font-weight: 500;
  font-size: 20px;
}
.info-item .text p{
  margin-top: 8px;
  line-height: 25px;
  color: gray;
}
.contact{
  border-bottom: 1px solid lightgray;
  background-color: #F6F6F5;
}
.contact-wrap{
  max-width: 1640px;
  margin: auto;
  padding: 0 20px;
  height: 340px;
}
.contact-item{
 text-align: left;
 padding-top: 60px;
 padding-bottom: 60px;
 float: left;
 width: 25%;
 height: 100%;
 padding-left:35px;
}
.contact-item .emailaddress{
  width: 100%;
  margin-top: 10px;
}
.emailaddress>i{
  width: 10%;
  float: left;
  height: 40px;
  display: block;
  font-size: 16px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-item input{
  width: 70%;
  float: left;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  color: black;
  font-size: 14px;
}
.contact-item button{
  width: 20%;
  float: right;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.contact-item button:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}
.contact-item:first-child{
  padding-left: 0;
}
.contact-item>p{
  margin: 0;
}
.contact-wrap::after{
  display: table;
  content: "";
  clear: both;
}
.contact a{
  display: block;
  padding: 8px 0;
  color: gray;
}
.contact p{
  color: gray;
  line-height: 25px;
}
.contact h2{
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}

.contact a:hover{
  opacity: 0.7;
}
.contact-responsive{
  border-bottom: 1px solid lightgray;
  background-color: #F6F6F5;
  display: none;
}
.contact-responsive-wrap{
  max-width: 1700px;
  margin: auto;
  padding: 30px 20px 45px 20px;
}
.contact-responsive h2{
  font-weight: 500;
  font-size: 16px;
}
.contact-responsive p{
  color: gray;
  line-height: 25px;
}
.contact-responsive a{
  display: block;
  clear: both;
  padding: 8px 0;
  color: gray;
}
.contact-responsive-item>p{
  margin: 0;
}
.contact-responsive a:hover{
  opacity: 0.7;
}
.contact-responsive-item{
  clear: both;
}
.contact-responsive-item-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.contact-responsive-item-head a{
  color: black;
}
.contact-responsive-item-head h2{
  float: left;
}
.contact-responsive-item-head span:hover{
  cursor: pointer;
}
.contact-responsive-item-head a:last-of-type{
  display: none;
}
.cross{
  float: right;
  padding: 10px;
}
.contact-responsive-item-dropdown{
  display: none;
  clear: both;
}
.contact-responsive-item-dropdown a{
  display: block;
  padding: 8px 0;
  color: gray;
}
.footer{
  clear: both;
  height: 60px;
  background-color: #F6F6F5;
  padding: 0 20px;
}
.footer-wrap{
  max-width: 1600px;
  margin: auto;
}
.footer .img{
  width: 33.33%;
  float: left;
  text-align: left;
}
.footer .img img{
  width: 200px;
  height: 20px;
  margin-top: 22px;
}
.footer .logo{
  width: 33.33%;
  float: left;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}
.footer .link{
  width: 33.33%;
  float: left;
  text-align: right;
  margin-top: 22px;
}
.footer a{
  display: inline-block;
  margin-left: 30px;
  font-size: 20px;
}
.link a:first-child{
  margin-left: 0;
}
.message{
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 60px;
}
.message:hover{
  cursor: pointer;
}

#scrolltop:hover{
  cursor: pointer;
}
.scrolltop-show{
  position: fixed;
  bottom: 100px;
  right: 30px;
  width: 60px;
  height: 60px;
  animation: navsticky 0.8s;
  transition: transform 0.4s;
}
.store-head{
  text-align: center;
  
}
.store-head h1{
  font-weight: 400;
  font-size: 40px;
}
.store-head span{
  font-weight: 400;
}
.store-head a{
  color: rgb(75, 74, 74);
}
.store-head a:hover{
  text-decoration: underline;
}
.store-content{
  margin: auto;
  max-width: 1200px;
  padding: 20px;
  height: 750px;
  margin-top: 50px;
  margin-bottom:150px;
}
.store-content .store-wrap{
  width: 100%;
  text-align: center;
}
.store-content .store-wrap .item1{
  float: left;
  width: 40%;
}
.item1 .item1-head{
  margin-bottom: 20px;
  height: 50px;
}
.store-content .store-wrap .item1 .item1-head input{
  width: 74%;
  height: 45px;
  float: left;
  border-radius: 5px;
  padding-left: 20px;
  border: 1px solid rgb(194, 193, 193);
}
.store-content .store-wrap .item1 .item1-head button{
  width: 24%;
  float: right;
  height: 45px;
  background-color: black;
  color: white;
  border-radius: 5px;
  transition: transform 0.3s;
}
.store-content .store-wrap .item1 .item1-head button:hover{
  cursor: pointer;
  transform: scale(1.05);
}
.item1-content{
  height: 680px;
  overflow-y: scroll;
  clear: both;
}
.item1-content-item-img{
  width: 100%;
  text-align: left;
  margin-top: 20px;
}
.item1-content-item-img-left{
  float: left;
  width: 30%;
}

.item1-content-item-img-right{
  float: left;
  width: 70%;
  padding: 10px 20px 10px;
}
.item1-content-item-img-right h2{
  font-size: 18px;
  font-weight: 450;
  margin: 0;
}
.item1-content-item-img-right p{
  font-size: 14px;
  color: grey;
}
.item1-content-item-img-right a{
  text-decoration: underline;
}
.item1-content-item-time{
  clear: both;
  background-color: rgb(241, 238, 238);
  text-align: left;
  padding: 10px 15px 10px;
}
.store-content .store-wrap .item2{
  float: right;
  width: 58%;
  color: black;
  height: 750px;
  text-align: left;
}
.store-content .store-wrap .item2 h1{
  text-align: center;
}

@media screen and (max-width:1800px){
  .img-text a{
    margin-top: 10px;
  }
}
@media screen and (max-width:1700px){
  .img-text a{
    margin-top: 30px;
  }
}
@media screen and (max-width:1600px){
  .nav-wrap .left li{
    margin-left: 50px;
  }
  .product-item{
    grid-template-columns: auto auto auto auto;
  }
  .product a:last-child{
    margin-top: 30px;
    margin-bottom: 0;
  }
  .section-collection-content .item{
    min-width: calc(30% - 30px);
  }
  .img-text a{
    margin-top: 40px;
  }
}
@media screen and (max-width:1500px){
  .img-text a{
    margin-top: 50px;
  }
  @keyframes imgtextrecotton{
    0%{left:65%}
    100%{left:75%}
  }
  .img-text-recotton{
    left: 75%;
    top: 85%;
  }
}
@media screen and (max-width:1400px){
  .top-left{
    display: none;
  }
  .top-center{
    width: 50%;
    text-align: left;
  }
  .top-right{
    width: 50%;
    text-align: right;
  }
  .img-text h1{
    font-size: 80px ;
  }
  .img-text a{
    margin-top: 30px;
  }

}
@media screen and (max-width:1300px){
  .nav-wrap .left li{
    margin-left: 40px;
  }
 
}
@media screen and (max-width:1270px){
  .section-collection-content .item{
    min-width: calc(35% - 30px);
  }
}
@media screen and (max-width:1200px){
  
  .nav-wrap .menu{
    display: inline-block;
  }
  .nav-wrap .left{
    display: none;
  } 
  
  .nav-wrap .right .user{
    display: none;
  } 
  .youarein p{
    font-size: 40px;
  }
  .youarein span{
    font-size: 40px;
  }
  .youarein .dropdown{
    width: 210px;
  }
  .section-collection-content .item{
    min-width: calc(35% - 30px);
  }
  .img-text h1{
    font-size: 70px ;
  }
  .img-text a{
    margin-top: 30px;
  }
  @keyframes imgtextrecotton{
    0%{left:65%}
    100%{left:75%}
  }
  .img-text-recotton{
   left: 75%;
   top: 85%;
  }
  
}
@media screen and (max-width:1100px){
  @keyframes imgtextrecotton{
    0%{left:60%}
    100%{left:70%}
  }
  .img-text-recotton{
   left: 70%;
   top: 85%;
  }
  .img-text a{
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .scrolltop-show{
    width: 40px;
    height: 40px;
    bottom: 80px;
  }
  .message{
    width: 40px;
  }
}
@media screen and (max-width:1080px){
  .section-collection-content .item{
    min-width: calc(40% - 30px);
  }
}
@media screen and (max-width:1000px){

  footer .img, footer .logo, .link{
    width: 100%;
    text-align: center;
    line-height: 30px;
  }
  .info-wrap{
    grid-template-columns: auto;
    padding: 40px 0 20px;
    gap: 20px;
  }
  .info-item{
    margin-left: 20px;
  }
  .info-item .text{
    float: left;
    margin-left: 20px;
  }
  .contact-responsive{
    display: block;

  }
  .contact{
    display: none;
  }
  .footer{
    height: 140px;
    background-color: #F6F6F5;
    padding: 0 20px;
  }
  .footer .img{
    width: 100%;
    text-align: center;
    
  }
  .footer .logo{
    width: 100%;
    text-align: center;
    
  }
  .footer .link{
    width: 100%;
    text-align: center;
    margin-top: 0;
  }
  .product-item{
    grid-template-columns: auto auto auto;
  }
  .product a:last-child{
    margin-top: 30px;
    margin-bottom: 0;
  }
  .section-collection-content .item{
    min-width: calc(50% - 30px);
  }
  .img-text h1{
    font-size: 60px ;
    margin-top: 10px;
  }
  .img-text a{
    margin-top: 40px;
  }
  .img-text-recotton{
    font-size: 16px;
  }
  .store-content{
    height: 1200px;
  }
  .store-content .store-wrap .item1{
    width: 100%;
    margin-bottom: 20px;
  }
  .store-content .store-wrap .item2{
    width: 100%;
    height: 400px;
  }
  
}
@media screen and (max-width:900px){
  .img-text h1{
    font-size: 50px ;
    margin-top: 10px;
  }
  .img-text a{
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .img-text-recotton{
    font-size: 16px;
  }
  
}
@media screen and (max-width:800px){
  .top{
    display: none;
    }
  .nav-wrap .right .star{
    display: none;
  } 
  .nav-wrap {
    height: 50px;
  }
  .nav-wrap .menu a{
    height: 30px;
  }
  .nav-wrap .menu i{
    font-size: 20px;
  }
  .nav-wrap .right a{
    height: 30px;
  }
  .nav-wrap .right i{
    font-size: 18px;
  }
  .nav-wrap .center img{
    width: 130px ;
    height: 32px;
  }
  .youarein p{
    font-size: 30px;
  }
  .youarein span{
    font-size: 30px;
  }
  .youarein .dropdown{
    width: 150px;
  }
  .section-collection-content .item{
    min-width: calc(60% - 30px);
  }
  @keyframes imgtextrecotton{
    0%{left:55%}
    100%{left:65%}
  }
  .img-text-recotton{
    left: 65%;
    top: 85%;
  }
  .section-collection-head{
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .section-collection-head span{
    font-size: 30px ;
  }
  
}
@media screen and (max-width:750px){
  .product-item{
    grid-template-columns: auto auto;
  }
  .product a:last-child{ 
    margin-top: 30px;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
  }
  .section-collection-content .item{
    min-width: calc(70% - 30px);
  }
  .img-text-recotton{
    display: none;
  }
  .img-text-h1{
    width: 250px;
  }
  .img-text h1{
    font-size: 40px;
  }
  .img-nav a{
    width: 10px;
    height: 10px;
  }
  @keyframes menushow750px{
    0%{width: 200px;}
    100%{width: 300px;}
  }
  .menu-show{
    width: 300px;
    animation: menushow750px .7s;
  }
  .menu-show-close{
    left: 300px;
  }
}
@media screen and (max-width:600px){
.section-collection-content .item{
  min-width: calc(85% - 30px);
}
.img-text p{
  font-size: 15px;
}
.img-text h1{
  font-size: 35px;
}
.img-text{
  transform: translate(0,-80%);
}
.img-text a{
  padding: 8px;
  width: 90px;
}
.img-nav a{
  width: 8px;
  height: 8px;
}
}
@media screen and (max-width:500px){
  .section-collection-content .item{
    min-width: calc(95% - 20px);
  }
}
@media screen and (max-width:470px){
  .youarein-content p,.youarein-content span{
    font-size: 25px;
  }
}
@media screen and (max-width:460px){
  .product-item{
    grid-template-columns: auto;
  }
}
@media screen and (max-width:420px){
  @keyframes menushow420px{
    0%{width: 100px;}
    100%{width: 250px;}
  }
  .menu-show{
    width: 250px;
    animation: menushow420px .7s;
  }
  .menu-show-close{
    left: 250px;
  }
  .img-text-h1{
    margin-top: 10px;
  }
  .img-text-h1 h1{
    font-size: 25px;
  }
  .img-text a{
    padding: 5px;
    width: 100px;
    text-align: center;
  }
  .section-collection-content .item{
    min-width: 100%;
  }
  .youarein-content p,.youarein-content span{
    font-size: 20px;
  }
  .mycart{
    display: none;
  }
}
@media screen and (max-width:400px){
  .section-collection-head span{
    font-size: 22px;
  }
}
@media screen and (max-width:370px){
  .youarein-content p,.youarein-content span{
    font-size: 15px;
  }
}
@media screen and (max-width:360px){
  .img-text-h1{
    margin-top: 8px;
  }
  .img-text-h1 h1{
    font-size: 20px;
  }
  .img-text a{
    padding: 5px;
    width: 80px;
    text-align: center;
    margin-top: 30px;
    font-size: 10px;
  }
  .section-collection-content .item{
    min-width: 120%;
  }
}

